name: run-tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]
        laravel: [12.*, 11.*, 10.*]
        stability: [prefer-stable]
        include:
          - laravel: 10.*
            testbench: 8.*
          - laravel: 11.*
            testbench: 9.*
          - laravel: 12.*
            testbench: 10.*

        exclude:

          - laravel: 10.*
            php: 8.4

          - laravel: 11.*
            php: 8.1

          - laravel: 12.*
            php: 8.1

    name: Laravel ${{ matrix.laravel }} - PHP ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, sqlite, pdo_sqlite, bcmath
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" \
                           "orchestra/testbench:${{ matrix.testbench }}" \
                           --no-update --no-interaction

          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Run Tests
        run: vendor/bin/pest
